body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
}

.content {
  padding: 130px 45px;
  width: 700px;
}

.app-logo {
  margin: 70px auto;
  display: block;
}

.logoNavigation {
  width: 115px;

}

.loginContainer {
  background-color: #EBEBEB;
  padding: 35px 40px;
  width: 500px;
  margin: 0 auto;
  border-radius: 3px;
}

.btn-primary {
  border-radius: 20px;
  background-color: #376BD0; 
  margin: 0 auto; 
  display: block;
  width: 200px;
  margin-bottom: 15px;
  font-weight: bold;
}

.modal-footer .btn-primary {
  margin: 0; 
  margin-left: 10px;
}

.passwordForm .btn-primary {
  margin: 35px 0;
}


.primaryLink {
  text-align: center;
  display: block;
}

.navLink {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  font-size: 16px;
}

.navigationList {
  margin-top: 50px;
  flex-grow: 1;
}

.progressBar {
  width: 100%;
  height: 80px;
  padding: 15px 10px;
  background-color: #fff;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
}

.progressBar p{
  margin-top: 8px;
  font-size: 14px;
}

.navigationBar {
  background-color: #EBEBEB;
  width: 300px;
  height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  display: inline;
  margin-right: 7px;
}

.icon:hover {
  color: #0a58ca;
}

h1 {
  font-size: 19px;
  font-weight: bold;
}

.fileInput  {
    color:rgba(133, 130, 130, 0);
    opacity: 1;
}

.deleting button{
  border: none;
  padding: 3px 30px;
  background-color: #fc5757;
  border-radius: 4px;
  color: white;
  font-weight: bold !important;
  margin: 10px 0px 0px 0px;
}

.action-bar a {
  font-weight: bold;
  /* margin-right: 10px; */
}

.file .name a {
  color: #212529;
}

div.rendered-react-keyed-file-browser div.files table tr.selected td {
  color: #376BD0;
}

div.rendered-react-keyed-file-browser div.files table tr.selected td a{
  color: #376BD0;
}

input[type="file"] {
  display: none;
}

.fileInput {
  border-radius: 20px;
  background-color: #376BD0;
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
  color: #fff;
  height: 35px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.fileLoader {
  text-align: right;
}

.fileInputLabel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordForm {
  margin-top: 40px;
}

.form-control {
  border: 1px solid #fff;
}

.modal-content .form-control {
  border: 1px solid #ced4da;
  padding: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-secondary {
  border-radius: 20px;
  font-weight: bold;
}

.emailsInput {
  display: inline-block;
  height: 40px;
  margin-right: 30px;
  margin-top: 5px;
}

.emailsCheckbox {
  display: inline-block;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

.uploadContainer {
  padding: 20px 10px;
}

.dropzone {
  padding: 10px 10px 50px 10px !important;
  border-width: 1px !important;
  border-color: #B6B6B6 !important;
  background-color: #F8F8F8 !important;
  color: #3a3737 !important;
  /* height: 300px !important; */
  border-radius: 5px !important;
  text-align: center !important;
  font-weight: bold !important;
}

.dropzone p {
  margin: 0;
}

.plusIcon {
  font-size: 50px;
  margin: 0;
  color: #DDDFE1;
  margin-bottom: 20px;
  font-weight: normal;
}

.sentenceSeparator {
  font-weight: 500;
  font-size: 15px;
  margin: 10px !important;
  color: dimgrey;
}

.confirmationActionTitle {
  font-size: 18px;
  text-align: center;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
}

.modal-header {
  padding-bottom: 0px;
}

td.modified{
  position: relative;
  color: transparent !important;
}

td.modified::after {
  content: '01.01.2022';
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100px;
  height: 20px;
  color: black;
}

.file.selected td.modified::after {
  color: #376BD0 !important;
}